## Archivos compilados
bin/
obj/

## IDE
.vscode/
.vs/
*.swp
*.swo
*~

## OS
.DS_Store
Thumbs.db

## NuGet
*.nupkg
.nuget/

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
